<html>
    <head>
        <title>Login Screen</title>
        <link href="/static/style.css" rel="stylesheet">
    </head>

    <body>
        <div class="login">
        <h1 id="title">Blackjack</h1>
        <form method="post">
            <h1>User Login</h1><br>
            Username: <input class="loginInfo" type="text" name="username"><br>
            Password:  <input class="loginInfo" type="password" name="password"><br>
            <input type="submit">
        </form>
        </div>
    </body>
</html>